<form (submit)="onFormSubmit($event)">
  <div class="row">
    <div class="col-10">
      <input
        (input)="onInput($event.target.value)"
        class="form-control"
        placeholder="Search..."
      />
    </div>
    <div class="col-2">
      <button class="btn btn-primary float-right">Search</button>
    </div>
  </div>
</form>
