@media only screen and (max-width: 991px) {
  /* For mobile phones: */
  [class*="col-2"] {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

  }

}

@media only screen and (max-width: 767px) {
  /* For mobile phones: */
  [class*="col-2"] {
    width: 50px;
    display: flex;
    justify-content: right;
    align-items: center;

  }

}
